<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="za.co.felixsol.eclipse.runmavenhelp.category"
            name="Sample Category">
      </category>
      <command
            categoryId="za.co.felixsol.eclipse.runmavenhelp.category"
            name="Maven clean"
            id="za.co.felixsol.eclipse.runmavenhelp.handlers.MavenClean">
      </command>
      <command
            categoryId="za.co.felixsol.eclipse.runmavenhelp.category"
            name="Maven clean"
            id="za.co.felixsol.eclipse.runmavenhelp.handlers.MavenInstall">
      </command>
      <command
            categoryId="za.co.felixsol.eclipse.runmavenhelp.category"
            name="Maven clean"
            id="za.co.felixsol.eclipse.runmavenhelp.handlers.MavenCleanInstall">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="za.co.felixsol.eclipse.runmavenhelp.handlers.ExecMavenHelperHandler"
            commandId="za.co.felixsol.eclipse.runmavenhelp.handlers.MavenClean">
      </handler>
      <handler
            class="za.co.felixsol.eclipse.runmavenhelp.handlers.ExecMavenHelperHandler"
            commandId="za.co.felixsol.eclipse.runmavenhelp.handlers.MavenInstall">
      </handler>
      <handler
            class="za.co.felixsol.eclipse.runmavenhelp.handlers.ExecMavenHelperHandler"
            commandId="za.co.felixsol.eclipse.runmavenhelp.handlers.MavenCleanInstall">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="za.co.felixsol.eclipse.runmavenhelp.handlers.MavenClean"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
      <key
            commandId="za.co.felixsol.eclipse.runmavenhelp.handlers.MavenInstall"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7">
      </key>
      <key
            commandId="za.co.felixsol.eclipse.runmavenhelp.handlers.MavenCleanInstall"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="CustomCommandTest.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="za.co.felixsol.eclipse.runmavenhelp.handlers.MavenClean"
                  id="CustomCommandTest.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="CustomCommandTest.toolbars.sampleToolbar">
            <command
                  id="CustomCommandTest.toolbars.sampleCommand"
                  commandId="za.co.felixsol.eclipse.runmavenhelp.handlers.MavenClean"
                  icon="icons/sample.png"
                  tooltip="Clean">
            </command>
            <command
                  id="CustomCommandTest.toolbars.sampleCommand2"
                  commandId="za.co.felixsol.eclipse.runmavenhelp.handlers.MavenInstall"
                  icon="icons/sample.png"
                  tooltip="Install">
            </command>
            <command
                  id="CustomCommandTest.toolbars.sampleCommand3"
                  commandId="za.co.felixsol.eclipse.runmavenhelp.handlers.MavenCleanInstall"
                  icon="icons/sample.png"
                  tooltip="Clean Install">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
